<!-- FOOTER -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p id="direitos">Todos os diteritos reservados <a href="https://sl-servicosweb.com" target="_blank"><img src="/sistema/assets/Logo 2.png" alt="" width="100px"></a></p>
            </div>
        </div>
    </div>
<!-- FIM DO FOOTER -->
