:root {
    --primary-color: #e91be9;
    --background-color: #f0f3f7;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: unset;
    text-decoration: none;
}
body,
html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu-wrap {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.logo {
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item {
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}
.cart-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.cart-btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
}
.fullheight {
    height: 100vh;
}
.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-img-fixed {
    background-attachment: fixed;
}
.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
section {
    padding: 9rem 0;
}
.slogan {
    text-align: left;
}
.slogan h1 {
    font-size: 7rem;
    color: var(--primary-color);
}
.slogan button {
    padding: 1rem 5rem;
    outline: none;
    border: none;
    background-color: var(--background-color);
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 3rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease-in-out;
}
.slogan button:hover {
    background-color: var(--primary-color);
    color: var(--white);
}
.fullwidth {
    width: 100%;
}
#about img {
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.about-slogan {
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.about-slogan.start {
    transform: translateX(-10rem) !important;
}
.about-slogan h3 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--grey);
}
.primary-color {
    color: var(--primary-color);
}
.food-menu {
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.food-menu h1 {
    color: var(--grey);
}
.food-menu p {
    margin: 2rem 0;
}
.food-category {
    display: flex;
}
.food-category button {
    padding: .5rem 2.5rem;
    margin: 0 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.food-category button:hover,
.food-category button.active {
    background-color: var(--primary-color);
    color: var(--white);
}
.food-item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
}
.food-item {
    width: 25%;
    height: 30rem;
    padding: 1rem;
}
.item-wrap {
    height: 100%;
    transition: .4s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
}
.item-wrap:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.item-img {
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.img-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    border-radius: 2rem;
}
.img-holder:hover {
    transform: scale(2) rotate(45deg);
}
.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}
.item-info h3 {
    color: var(--grey);
}
.item-info>div:first-child {
    text-align: left;
}
.review-wrap {
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.review-wrap.active {
    transform: scale(1.2) !important;
}
.review-content {
    padding: 3rem;
    border-bottom: .125rem solid var(--grey);
    position: relative;
    text-align: center;
}
.review-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.review-info {
    padding: 3rem;
    text-align: center;
}
.rating {
    margin-top: 2rem;
}
.rating i {
    color: var(--primary-color);
}
.footer {
    color: var(--white);
}
.footer h1 {
    color: var(--primary-color);
}
.input-group {
    padding: 1rem;
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.input-group input {
    flex: auto;
    outline: none;
    border: none;
    color: var(--primary-color);
    background-color: transparent;
}
.input-group button {
    padding: .5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}
.back-to-top {
    position: fixed;
    bottom: 70px;
    right: 70px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: .5rem;
    z-index: 99;
    display: none;
}
.food-item-wrap>div {
    display: none;
}
.food-item-wrap.all>div {
    display: block;
}
.food-item-wrap.categoria1>div.categoria1-type {
    display: block;
}
.food-item-wrap.categoria2>div.categoria2-type {
    display: block;
}
.food-item-wrap.categoria3>div.categoria3-type {
    display: block;
}
.food-item-wrap.categoria4>div.categoria4-type {
    display: block;
}
.food-item-wrap.categoria5>div.categoria5-type {
    display: block;
}
/* ANIMAÇÃO */
.left-to-right {
    transform: translateX(-150%);
    transition: 1s ease-in-out;
}
.left-to-right.start {
    transform: translateX(0);
}
.right-to-left {
    transform: translateX(150%);
    transition: 1s ease-in-out;
}
.right-to-left.start {
    transform: translateX(0);
}
.zoom {
    transform: scale(0);
    transition: .6s ease-in-out;
}
.zoom.start {
    transform: unset;
}
.bottom-up {
    transform: translateY(30%);
    transition: .8s ease-in-out;
}
.bottom-up.start {
    transform: translateY(0);
}
.delay-2 {
    transition-delay: .2s;
}
.delay-4 {
    transition-delay: .4s;
}
.delay-6 {
    transition-delay: .6s;
}
.delay-8 {
    transition-delay: .8s;
}
.delay-10 {
    transition-delay: .10s;
}
.delay-12 {
    transition-delay: .12s;
}
/* GRID SYSTEM */
.row {
    display: flex;
    flex-wrap: wrap;
}
[class*="col-"] {
    padding: 1rem;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    text-align: center;
    width: 100%;
}
.mb-nav {
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        font-size: 13px;
    }
    h1 {
        font-size: 3rem !important;
    }
    span {
        font-size: inherit;
    }
    .cart-btn i {
        font-size: 2rem;
    }
    .about {
        background-image: url(assets/dan-gold-4_jhDO54BYg-unsplash.jpg);
        background-attachment: fixed;
    }
    .about-slogan.start {
        transform: translateX(0) !important;
    }
    .food-menu {
        padding: 4rem 0;
    }
    .food-item {
        width: 100%;
        height: 25rem;
    }
    .food-category {
        overflow-y: scroll;
    }
    .food-category button {
        width: max-content;
    }
    .back-to-top {
        bottom: 6rem;
        right: 1rem;
    }
    .review-wrap.active {
        transform: unset !important;
    }
    /* MOBILE NAV */
    .mb-nav {
        position: fixed;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white);
        z-index: 99;
        overflow: hidden;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .mb-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 25%;
        padding: 1rem 0;
    }
    .mb-nav-item i,
    .mb-nav-item a {
        font-size: 2rem;
        color: var(--secon-color);
        z-index: 2;
        transition: .5s ease-in-out;
    }
    .mb-nav-item.active i {
        color: var(--white);
    }
    .mb-move-item {
        position: absolute;
        left: 0;
        width: 25%;
        height: 100%;
        background-color: var(--primary-color);
        transition: .5s ease-in-out;
    }
    /* END MOBILE NAV */
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .h-xs {
        display: none;
    }
}